#appFirstImage {
    max-width: 100%;
    padding: 0px;
    margin-left:10px;
}

.bi-geo-alt, .bi-tag, .bi-book, .bi-journals, .bi-arrow-left-right{
    font-size: 40px;
    color:rgb(215, 56, 56);
}

.appSecondSection {
    display: flex;
    margin-top: 27px;
}

.appSecondSection * {
    padding-top: 10px;
    margin-left: 29px;
    margin-right: 28px;
}

.appSecondSection div {
    border-right: 1px solid black;
}

.appSecondSection .sixth {
    border: 0px;
}

.appSecondSection .second img {
    padding-top: 0px;
    margin-top: 0px;
    width: 55px;
}

#rangeHeading {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.rangeCarImagesFirst, .rangeCarImagesSecond {
    display: flex;
}

.rangeCarImagesSecond {
    margin-top: 90px;
}

.rangeCarImages img {
    margin-left:auto;
    margin-right:auto;
    width: 200px;
}

#appSecondImage {
    max-width: 100%;
}

#whatsAwesomeHeading {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 70px;
}

.whatsAwesome {
    display: flex;
}

.whatsAwesome div {
    margin-left: auto;
    margin-right: auto;
    max-width: 25%;
    display: column flex;
    text-align: center;
}

.whatsAwesome p {
    font-size: 25px;
}

.whatsAwesome button {
    height: 40px;
    background-color: rgb(239, 79, 79);
    margin-top: 10px;
    border-radius: 10px;
    color: white;
    font-size: 15px;
}

.whatsAwesome img {
    width: 350px;
}

.whatsAwesome div * {
    margin-top: 12px;
    margin-bottom: 12px;
}

#pressReleases {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 70px;
}

#checkoutLatestNews {
    color: rgb(187, 183, 177);
    font-size: 40px;
    margin-left: 70px;
    font-weight: bold;
}

.news {
    display: column flex;
    margin-left: 120px;
}

.news div {
    margin-bottom: 40px;
}

.newsDate {
    font-size: 30px;
    color:rgb(156, 154, 152);
    font-weight: bold;
}

.news1, .news2, .news3, .news4 {
    display: flex;
}

.news .right p{
    margin-left: 50px;
    max-width: 100%;
}

.news p.first {
    font-size: 30px;
    padding-top: 20px;
}

.news p.second {
    font-size: 18px;
}

.news .right {
    border-bottom: 1px solid black;
}

#viewAll {
    text-align: center;
}

#moreHeading {
    text-align: center;
    margin-top: 80px;
}

div.more {
    max-width: 100%;
}

.more img {
    margin-left: 37px;
    margin-right: 37px;
    width: 300px;
    
}