#appFirstImage {
    max-width: 100%;
    padding: 0px;
    margin-left:10px;
}

.bi-geo-alt, .bi-tag, .bi-book, .bi-journals, .bi-arrow-left-right{
    font-size: 40px;
    color:rgb(215, 56, 56);
}

.appSecondSection {
    display: flex;
    margin-top: 3px;
}

.appSecondSection * {
    padding-top: 10px;
    margin-left: 29px;
    margin-right: 28px;
}

.appSecondSection div {
    border-right: 1px solid black;
}

.appSecondSection .sixth {
    border: 0px;
}

.appSecondSection .second img {
    padding-top: 0px;
    margin-top: 0px;
    width: 55px;
}

#rangeHeading {
    text-align: center;
    margin-top: 30px;
}

.rangeCarImagesFirst, .rangeCarImagesSecond {
    display: flex;
}

.rangeCarImagesSecond {
    margin-top: 90px;
}

.rangeCarImages img {
    margin-left:auto;
    margin-right:auto;
    width: 200px;
}