.toyotaLogo {
    width: 80px;
}

.navigationText{
    display: flex;
}

.navigationText p {
    padding-top: 10px;
}

header button {
    height: 50px;
    background-color: rgb(239, 79, 79);
    margin-top: 10px;
    border-radius: 10px;
    color: white;
}

.bi-whatsapp {
    font-size: 30px;
    margin-top: 15px;
    color: rgb(145, 142, 142);
}